@{
    ViewBag.Title = "Login";
    Layout = "~/Shared/Views/_LayoutLogin.cshtml";
}
<!DOCTYPE html>
<html ng-app="AllyController">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/png" href="images/excel.png" />
    <base href="@Url.Content("~/")"/> 

    <link href="@Url.Content("~/Css/login.css")" rel="stylesheet" type="text/css" />    
    <link href="@Url.Content("~/Css/spacing.css?v1.0")" rel="stylesheet" type="text/css" />    
    <link href="@Url.Content("~/Css/theme.css?v1.3")" rel="stylesheet" type="text/css" />    

    <script src="@Url.Content("~/scripts/angular-ui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/ui-bootstrap.js?v1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/ui-bootstrap-tpls.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/controllerLogin.js?v1.01")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/smart-table.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.marquee.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.mCustomScrollbar.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/moment.min.js")"></script>
    <script src="@Url.Content("~/scripts/Bootstrap-multiselect.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap-toggle.min.js")"></script>
    <script src="@Url.Content("~/scripts/Login.js?v1.0")" type="text/javascript"></script>
</head>
<body id="idbody">
    <header class="loginHeader">
        <div class="wrapper">
            <img src="images/logo.png">
        </div>
    </header>

    <section class="loginBg" ng-view></section>
    <footer class="webfooter">
        <div class="wrapper">
            <p>Copyright © 2020 FlowMed. All Rights Reserved. <span style="float:right;">Build Version <span id="Buildnamespan"></span></span></p>
            
        </div>
    </footer>

</body>
</html>

