@{
    ViewBag.Title = "Login";
    Layout = "~/Shared/Views/_LayoutLogin.cshtml";
}
<!DOCTYPE html>
<html ng-app="AllyController">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/png" href="images/excel.png" />
    <base href="@Url.Content("~/")" />

    <link href="@Url.Content("~/Css/login.css?V1.01")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Css/spacing.css?v1.0")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Css/theme.css?v2.1.195")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Css/jquery.datetimepicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Css/intlTelInput.css?v1.0")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/scripts/intlTelInput.js?v1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/intlTelInput-jquery.js?v1.0")" type="text/javascript"></script>
    <link href="~/Css/toaster.css?v1.0.0" rel="stylesheet" type="text/css" />
    @*<script src="~/scripts/angular.js?v1.0.0"></script>*@
    <script src="~/scripts/app/toaster.js?v1.0.0"></script>
    <script src="@Url.Content("~/scripts/angular-ui.js?v2.1.195")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/ui-bootstrap.js?v1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/ui-bootstrap-tpls.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/controllerLogin.js?v2.1.195")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/smart-table.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.marquee.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.mCustomScrollbar.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/moment.min.js")"></script>
    <script src="@Url.Content("~/scripts/Bootstrap-multiselect.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap-toggle.min.js")"></script>
    <script src="@Url.Content("~/scripts/Login.js?v1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.datetimepicker.js")" type="text/javascript"></script>
    @*<script src="http://skyblueenglish.co.uk/wp-content/plugins/fancybox-for-wordpress/fancybox/jquery.fancybox.js?ver=1.3.4" type="text/javascript"></script>*@
    <script type="text/javascript">
        var ProductDetails = jQuery.parseJSON('@Html.Action("GetProduct_CopyRight", "Home")');
        $(document).ready(function () {
            var Copyrightspan = document.getElementById('Copyrightspan');

            if ('textContent' in Copyrightspan) {
                Copyrightspan.textContent = ProductDetails[0];
            } else {
                Copyrightspan.innerText = ProductDetails[0];
            }
        });
    </script>
   
    <script>
        $(function () {
            setTimeout(function () {

                $('.preload').hide();
            }, 3000);
        });
    </script>
    <style>
        .content {
            display: none;
        }

        .preload {
            width: 100px;
            height: 100px;
            position: fixed;
            top: 50%;
            left: 50%;
        }
    </style>
</head>
<body id="idbody">
    <div id="loginhead" style="display:none;">
        <header class="loginHeader">
            <div class="wrapper">
                @* // id="InstLogo"*@
                <img src="images/logo.png"> <!--style="height: 66px; width: 120px;"-->
            </div>
        </header>
    </div>
    <div>
        <div class="preload"> <img src="https://i.gifer.com/ZKZg.gif" style="width:100%; height:100%; "></div>
        <section id="LoginSection" class="loginBg" ng-view></section>
    </div>
    @*<div id="loginCor" style="display:none;">
            <section class="loginBgCor" ng-view></section>
        </div>
        <div id="loginHel" style="display:none;">
                <section class="loginBgHel" ng-view></section>
        </div>*@
    <footer class="webfooter">
        <div class="wrapper">
            <p>Copyright © <span id="Copyrightspan"></span>. All Rights Reserved. <span style="float:right;">Build Version <span id="Buildnamespan"></span></span></p>

        </div>
    </footer>

</body>
</html>

